@{ 
    ViewBag.Title = "Bestille";
}

<!-- Margrete 25.02.2018 - lager lignende struktur her om Johan gjprde i sta så kodet ser strukturert ut -->
<div class="container">
    <div class="btn-group-lg">
        <button type="button" class="btn main-page-button" id="botox">Adgangs- og ID-kort</button>
        <button type="button" class="btn main-page-button" id="botox">Ny bruker</button>
        <button type="button" class="btn main-page-button" id="botox">Ny prosjekt</button>
        <button type="button" class="btn main-page-button" id="botox">SESAM</button>
        <button type="button" class="btn main-page-button" id="botox">Gjenoppretting av data</button>
        <button type="button" class="btn main-page-button" id="botox">Multimaskin og skriver</button>
        <button type="button" class="btn main-page-button" id="botox">Mobiltelefoni</button>
        <button type="button" class="btn main-page-button" id="botox">Kontorrekvisitta</button>
        <button type="button" class="btn main-page-button" id="botox">Renhold og <br />vaktmestertjenester</button>
        <button type="button" class="btn main-page-button" id="botox">Parkering</button>
    </div>
</div>