@{ 
    ViewBag.Title = "Endre";
}

<div class="container">
    <div class="btn-group-lg">
        <button type="button" class="btn main-page-button" id="botox">Adgangs- og ID-kort</button>
        <button type="button" class="btn main-page-button" id="botox">Avslutt bruker</button>
        <button type="button" class="btn main-page-button" id="botox">Endre bruker</button>
        <button type="button" class="btn main-page-button" id="botox">Mobilabonnement</button>
        <button type="button" class="btn main-page-button" id="botox">Prosjektrom i Portalen</button>
        <button type="button" class="btn main-page-button" id="botox">SESAM</button>
    </div>
</div>