@{ 
    ViewBag.Totle = "GodStart";
}

<div class="container">
    <div class="btn-group-lg">
        <button type="button" class="btn main-page-button" id="botox">Adgangs- og ID-kort</button>
        <button type="button" class="btn main-page-button" id="botox">Ny bruker</button>
        <button type="button" class="btn main-page-button" id="botox">Endre bruker</button>
        <button type="button" class="btn main-page-button" id="botox">Tilgang filområde, <br />programvare</button>
        <button type="button" class="btn main-page-button" id="botox">Avslutte bruker</button>
        <button type="button" class="btn main-page-button" id="botox">Mobiltelefoni</button>
    </div>
</div>