@{ 
    ViewBag.Title = "NyttigInformasjon";
}

<div class="container">
    <div class="btn-group-lg">
        <button type="button" class="btn main-page-button" id="botox">IKT spørsmål og svar</button>
        <button type="button" class="btn main-page-button" id="botox">Praktisk på HK</button>
        <button type="button" class="btn main-page-button" id="botox">Praktisk på RK</button>
        <button type="button" class="btn main-page-button" id="botox">Tjenestekatalog</button>
        <button type="button" class="btn main-page-button" id="botox">Visuell profill</button>
    </div>
</div>